.videoContainer{
    display: flex;
    justify-content: space-around;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}
.startButton{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: antiquewhite;
}
.stopButton{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: antiquewhite;
  }
.startButton:hover{
    background-color: green;
    color: white;
}
.stopButton:hover{
    background-color: red;
    color: white;
}
.mainVideo {
    width: 800px; 
    height: 500px;
}
.videoRecording{
    width: 600px;
    height: 500px;
    background-color:#ccc;
}

.questionDiv{
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'space-evenly';
    position: 'absolute';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    height: 50%
}
.questionHeader{
    width: 100%;
    text-align: 'center'
}

.questionP{
    width: 100%;
    text-align: 'center';
    margin-bottom: 40px;
    font-size: 25px
}
.buttonDiv{
    display: 'flex';
    justify-content: 'space-around';
}
.assignmentTitle{
    margin-left: 20px;
}